# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# cubegui-plugins
# Prerequisites
*.d

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/
.vscode

.blablador_config

# Latex build files
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.run.xml
*.synctex.gz
*.lof
*.lot
*.ilg
*.ind
*.idx

# latexmk folder/cache
latexmk/

# LaTeX auxiliary folders
_tex/